.dv-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 20rem auto;
}

.dv-main {
  grid-area: main;
  background-color: var(--bg-color);
}

.dv-sources-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dv-source-card {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-sm);
}

.dv-source-card-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-emphasis);
  padding: 0.25rem;

  button {
    padding: 0.125rem 0.375rem;
  }
}

.dv-add-source-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: var(--border-radius);
  transition: all 300ms ease;

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--active-color);
  }
}

.dv-generator-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-color);
  padding: 0.375rem 0.25rem;
  border-top: 1px solid var(--border-color);
}

.dv-generator-card-title {
  display: flex;
  gap: 0.375rem;
  overflow: hidden;
}

.dv-generator-card-token {
  font-family: var(--bs-font-monospace);
  font-size: 0.75rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.125rem 0.375rem;
}

.dv-generator-card-type {
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dv-generator-card-name {
  font-size: var(--font-size-sm);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dv-generator-card-buttons {
  display: flex;
  gap: 0.25rem;

  button {
    padding: 0.125rem 0.375rem;
  }
}

.dv-available-widgets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.dv-available-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dv-available-widget-draggable {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--secondary);
  font-size: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  transition: box-shadow 300ms ease, color 600ms ease;
  cursor: grab;

  &:hover {
    box-shadow: var(--shadow);
    color: var(--primary);
  }
}

.dv-available-widget-draggable.ui-draggable-dragging {
  color: var(--primary);
  box-shadow: var(--shadow);
}

.dv-available-widget-title {
  width: 5rem;
  font-size: var(--font-size-sm);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-stack.grid-stack-dragging {
  cursor: grabbing;
}

.grid-stack-item-content {
  cursor: grab;
}

.grid-stack-item:hover {
  .dv-autohide-toolbar {
    display: block;
  }
}

.dv-form-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dv-autohide-toolbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-lg);
  background-color: var(--bg-color-emphasis);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  opacity: 0.95;
}

.dv-resize-none {
  resize: none;
}

#save-button {
  flex-grow: 1;
}

.dv-chart:hover {
  .dv-chart-alert span {
    max-width: 20rem;
    transition-delay: 0ms;
  }
}

.dv-chart-alert {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  gap: 0.2rem;
  color: var(--danger);
  background-color: var(--bg-color-emphasis);
  padding: 0.125rem 0.375rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-top: 0.5rem;

  span {
    max-width: 0;
    transition: max-width 600ms ease;
    transition-delay: 1000ms;
  }
}

.dv-chart-alert.show {
  display: flex;
}
