.dv-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 20rem auto;
}

.dv-main {
  grid-area: main;
  background-color: var(--bg-color);
}

.dv-add-widgets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.dv-add-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dv-add-widget-draggable {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--secondary);
  font-size: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  cursor: grab;
}

.dv-add-widget-title {
  width: 5rem;
  font-size: var(--font-size-sm);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-stack.grid-stack-dragging {
  cursor: grabbing;
}

.grid-stack-item-content {
  cursor: grab;
}

.grid-stack-item:hover {
  .dv-btn-autohide {
    display: block;
  }
}

.dv-form-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dv-btn-autohide {
  display: none;
  position: absolute;
  top: 0;
  font-size: var(--font-size-lg);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: var(--border-radius);
  padding: 0 0.375rem;
}

.dv-btn-autohide:nth-of-type(1) {
  left: 0;
}

.dv-btn-autohide:nth-of-type(2) {
  right: 0;
}

.dv-resize-none {
  resize: none;
}
