/* Sidebar */
.dv-sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-emphasis);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

.dv-sidebar-header {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: unset;
  text-decoration: none;

  img {
    height: 2.5rem;
  }
}

.dv-sidebar-body {
  padding: 0 1rem;
  margin: 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.dv-sidebar-footer {
  margin: 0 1rem 1rem;
}

/* Accordion */
.dv-btn-accordion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: var(--font-size-lg);

  .bi-chevron-down {
    transition: transform 0.3s ease;
  }

  .bi-chevron-down.rotate {
    transform: rotate(-180deg);
  }
}

.dv-accordion-title {
  display: flex;
  gap: 0.5rem;

  i {
    color: var(--primary);
  }
}

.dv-accordion-body {
  border-top: 1px solid var(--primary);
  padding: 0.75rem;
}

/* Dropdown */
.dropdown-menu {
  border: unset !important;
  padding: unset !important;
  background-color: unset !important;
}

.dv-dropdown-menu {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding: 0.3rem;

  i {
    margin-right: 0.5rem;
  }

  .dv-btn {
    display: flex;
    width: 100%;
    padding: 0.375rem 0.75rem;
  }
}

/* Modal */
body.modal-open {
  overflow: hidden;
}

.dv-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
}

.dv-backdrop.show {
  display: block;
}

.dv-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.dv-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dv-modal-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.dv-modal-body-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.dv-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.dv-dropdown-container {
  position: relative;
}

.dv-dropdown {
  position: absolute;
  width: 100%;
  display: none;
  background-color: var(--bg-color);
  padding: 0.2rem;
  border-radius: var(--border-radius);
  margin-top: 0.2rem;
  box-shadow: var(--shadow);
  outline: 1px solid var(--border-color);
  z-index: 99;
}

.dv-dropdown.show {
  display: block;
}

.dv-chat-bot {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.dv-chat {
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  margin-bottom: 0.75rem;
}

.dv-chat-message-assistant {
  display: flex;
  justify-content: start;

  .dv-chat-message {
    background-color: var(--bg-color);
  }
}

.dv-chat-message-user {
  display: flex;
  justify-content: end;

  .dv-chat-message {
    background-color: var(--hover-color);
  }
}

.dv-chat-message {
  max-width: 75%;
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius);
}

.dv-chat-controls {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.dv-chat-send {
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: #ffffff;
  font-size: var(--font-size);
  padding: 0.125rem 0.625rem;
  transition: all 300ms ease;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, var(--primary), #000000 40%);
  }

  &:active {
    background-color: color-mix(in srgb, var(--primary), #000000 60%);
  }

  &:disabled {
    background-color: color-mix(in srgb, var(--primary), #ffffff 50%);
    cursor: default;
  }
}
